@import 'base/variables';
@import 'base/mixins';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/catalog';
@import 'blocks/carousel';
@import 'libs/slick';
@import 'blocks/about';
@import 'blocks/footer';
@import 'blocks/media';
@import 'blocks/modal';
@import 'blocks/forms';


